.SobreNosBody
{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoAndImagemGeral
{
    width: 98%;
    height: 350px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    border: 1px solid blue;
}

.textoGeralSobreNos
{
    width: 50%;
    height: 350px;
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoGeralSobreNos h1
{
    font-size: 60px;
    margin-bottom: 20px;
}

.textoGeralSobreNos p
{
    font-size: 20px;
}

.imagemGeral
{
    width: 50%;
    height: 350px;
    border: 1px solid orange;
}